<h1>Sacred Heart Hospital Edit Employee</h1>
        <br>
        <a href="/" class="btn btn-primary">Return to Home Page</a>
        <br>
        <br>
        <a href="/employees" class="btn btn-primary">Return to Employees Page</a>
        <br>
        <br>
    
<form action="/editEmployee" method="POST">
<input type="hidden" name="eid" value="{{results.ID}}">
  First name:<br>
  <input type="text" name="firstname" value="{{results.First_Name}}">
  <br>
  Last name:<br>
  <input type="text" name="lastname" value="{{results.Last_Name}}">
  <br>
    Salary:<br>
  <input type="text" name="salary" value="{{results.Salary}}">
<br>


    Department:<br>
    {{#each department}}
    {{#if this.current}}
  <input type="radio" name="department" value="{{this.ID}}" checked="checked">{{this.Department_Name}}<br>  
    {{else}}
  <input type="radio" name="department" value="{{this.ID}}">{{this.Department_Name}} <br>
    {{/if}}
  {{/each}}
  <br>


  Employee Type:<br>
  {{#each employee_type}}
    {{#if this.current}}
    <input type="radio" name="employee_type" value="{{this.this.ID}}" checked="checked">{{this.Employee_Type}}<br>  
    {{else}}
    <input type="radio" name="employee_type" value="{{this.this.ID}}">{{this.Employee_Type}}<br>
    {{/if}}
  {{/each}}
  <br>
  <br>
  <input type="submit" value="Submit">
</form>
