<h1>Sacred Heart Hospital Employee: {{results.First_Name}} {{results.Last_Name}}</h1>
        <br>
        <button><strong>Edit Employee Listing (not implemented)
        </strong></button>
        <br>
        <a href="/hostpitalManagment" class="btn btn-primary">Hostpital Page</a>
        <br>
        <br>
        <table>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Department</th>
                <th>Employee Type</th>
                <th>Salary</th>
            </tr>
            <tr>
                <td>{{results.First_Name}}</td>
                <td>{{results.Last_Name}}</td>
                <td>{{results.Department_Name}}</td>
                <td>{{results.Employee_Type}}</td>
                <td>{{results.Salary}}</td>
            </tr>
        </table>
