<html>
    <div class="container-fluid">
        <div class="jumbotron">
            <div id="pageHeader" class="container">
                <div class="page-header">
                    <h1><strong>Sacred Heart Hospital Employee: {{results.employee.First_Name}} {{results.employee.Last_Name}}</strong></h1>
                </div>
                <h2><strong>Edit/Delete Employee Listing</strong></h2>
            </div>
        </div>
    </div>

    <div class="container">
        <a href="/" class="btn btn-primary">Return to SHH Portal</a>    
    </div>

    
    <div class="container">
        <!-- List Basic Employee Info Here -->
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th class="text-center">Employee Name</th>
                        <th class="text-center">Department</th>
                        <th class="text-center">Employee Type</th>
                        <th class="text-center">Salary</th>
                    </tr>
                    <tr>
                        <td class="text-center">{{results.employee.First_Name}} {{results.Last_Name}}</td>
                        <td class="text-center">{{results.employee.Department_Name}}</td>
                        <td class="text-center">{{results.employee.Employee_Type}}</td>
                        <td class="text-center">{{results.employee.Salary}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <!-- List Doctor's Patients Here -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th class="text-center">Current Patients</th>
                    </tr>
                    {{#each patients}}
                    <tr>
                        <td class="text-center">{{this.First_Name}} {{this.Last_Name}}</td>
                        <td class="text-center"><a class="btn btn-info" href="/patients/id={{this.ID}}">View Details</a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>

    <!-- Here's the button to edit the employee listing; the href is blank for now-->
    <div class="container">
        <a class="btn btn-warning" href="#">Edit Employee Listing</a>
    </div>
    
    <!-- Here's the button to delete the employee listing; the onclick is blank for now-->
    <div class="container">
        <button class="btn btn-danger" onclick="">Delete Employee Listing</button>
    </div>
</html>
