 <h1>Sacred Heart Hospital Treatment List</h1>
        <br>
       <a href="/" class="btn btn-primary">Return to Portal</a>
       <br>
        <br>
       <a href="/createTreatment" class="btn btn-primary">Add/Create Treatment</a>        
        <br>
        <br>
        <table>
            <tr>
                <th>Treatment Name</th>
                <th>Insured Price</th>
                <th>Uninsured Price</th>
            </tr>
            {{#each results}}
            <tr>
                <td>{{this.Treatment_Type}}</td>
                <td>${{this.Insured_Price}}</td>
                <td>${{this.Uninsured_Price}}</td>
                <td><a href="/editTreatment/id={{this.ID}}" class="btn btn-info">Edit</a></td>
                <td>
                <form action="/deleteTreatment" method="POST">
                    <input type="hidden" name="tid" value="{{this.ID}}">
                    <input type="submit" value="Delete" class="btn btn-danger">
                </form>
                </td>
            </tr>
            {{/each}}
        </table>