<h1>Sacred Heart Hospital Employee: Christopher Turk</h1>
        <br>
        <button onclick="window.location.href='SHHEmployeeManagement.html';"><strong>Edit Employee Listing</strong></button>
        <br>
        <br>
        <table>
            <tr>
                <th>Employee Name</th>
                <th>Department</th>
                <th>Employee Type</th>
                <th>Salary</th>
            </tr>
            <tr>
                <td>{{results.First_Name}} {{results.Last_Name}}</td>
                <td>{{results.Department_Name}}</td>
                <td>{{results.Employee_Type}}</td>
                <td>{{results.Salary}}</td>
            </tr>
        </table>
