<h1>Sacred Heart Hospital Patient: {{results.First_Name}} {{results.Last_Name}}</h1>
        <br>
        <button onclick="window.location.href='SHHPatientManagement.html';"><strong>Edit Patient Listing</strong></button>
        <br>
        <br>
        <table>
            <tr>
                <th>Patient Name</th>
                <th>Date of Birth</th>
                <th>Chief Complaint</th>
                <th>Treatment</th>
                <th>Insured</th>
                <th>Bill Paid</th>
            </tr>
            <tr>
                <td>{{results.First_Name}} {{results.Last_Name}}</td>
                <td>{{results.DOB}}</td>
                <td>{{results.Chief_Complaint}}</td>
                
                {{!-- TODO: add treatments --}}
                <td>Appendectomy</td>

                <td>{{results.Insured}}</td>
                <td>{{results.Treatment_Paid}}</td>
                <td><a href="/patients/treatments/id={{results.ID}}&name={{results.First_Name}}" class="btn btn-info">View Treatments</a></td>
                <td><a href="/patients/doctors/id={{results.ID}}&name={{results.First_Name}}" class="btn btn-info">View Doctors</a></td>
            </tr>
        </table>