<html>
    <div class="container-fluid">
        <div class="jumbotron">
            <div id="pageHeader" class="container">
                <div class="page-header">
                    <h1><strong>Sacred Heart Hospital Employee List</strong></h1>
                </div>
                <h2><strong>View all current employees</strong></h2>
            </div>
        </div>
    </div>
    
    <div class="container">
        <a href="/" class="btn btn-primary">Return to SHH Portal</a>    
    </div>

    <div class="container">
        <h1>Add New Employee</h1>
        <form id="addEmployee" action="/employees" method="post">
            First name: <input type="text" name="First_Name"><br>
            Last name: <input type="text" name="Last_Name"><br>
            Salary: <input type="number" name="Salary"><br>
            Employee Type: <select name="Employee_Type_ID"> 
                {{#each employee_types}}
                <option value="{{ID}}">{{Employee_Type}}</option>
                {{/each}}
            </select><br>
            Department: <select name="Department_ID">
                {{#each departments}}
                <option value="{{ID}}">{{Department_Name}}</option>
                {{/each}}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <table class="table table-bordered table-striped table-hover">
                    <tr>
                        <th class="text-center">Employee Name</th>
                        <th class="text-center">Department</th>
                        <th></th>
                    </tr>
                    {{#each employees}}
                    <tr>
                        <td class="text-center">{{First_Name}} {{Last_Name}}</td>
                        <td class="text-center">{{Department_Name}}</td>
                        <td class="text-center"><a class="btn btn-info" href="/employees/id={{ID}}">View Details</a></td>
                    </tr>
                    {{/each}}
                </table>
            </div>
        </div>
    </div>
</html>
